/APK
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp.csproj
/Library
/Logs
/MiddlewareTransport.csproj
/Mirror.Authenticators.csproj
/Mirror.CompilerSymbols.csproj
/Mirror.Components.csproj
/Mirror.Editor.csproj
/Mirror.Examples.csproj
/Mirror.csproj
/MultiplexTransport.csproj
/SimpleWebTransport.csproj
/Telepathy.csproj
/Temp
/Unity.2D.Sprite.Editor.csproj
/Unity.2D.Tilemap.Editor.csproj
/Unity.Mirror.CodeGen.csproj
/UnityEditor.UI.csproj
/UnityEngine.UI.csproj
/kcp2k.csproj
/where-allocations.csproj
/obj/Debug
/.vsconfig
/.vs
